.wrap {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.todo__input {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.todo__input input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 0;
  font-size: 16px;
  border: 1px solid navy;
  background-color: white;
  appearance: none;
  border-radius: 0;
}

.todo__input button {
  border: none;
  background-color: navy;
  color: white;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  height: 100%;
  flex-shrink: 0;
  margin-left: 5px;
  cursor: pointer;
}

.todo__box {
  margin-top: 40px;
}

.todo__list li {
  display: flex;
  width: 100%;
  height: 50px;
}

.todo__list li + li {
  margin-top: 5px;
}

.todo__list button {
  width: 50px;
  height: 100%;
  border: none;
  background: navy;
  color: white;
  font-size: 18px;
  flex-shrink: 0;
  cursor: pointer;
}

.todo__text {
  display: flex;
  align-items: center;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  width: 100%;
  padding: 0 20px;
}
